<h1>codebreaker</h1>

<p>enter a 4 digit number</p>
<form method="POST" action="/">
	<input type="number" name="guess" min="1000" max="9999" size="4">
</form>
<% if @message %>
<div id="response">
	
		<% @message.each do |x|%>
			<% if x == "+"%> 
				<img src="filled.png" >
			<% else %>
				<img src="hollow.png">
			<% end %>
		<% end %>
</div>
<div id="helpbox">
	<%= erb :help, :layout => false %>
</div>

<% end %>
