<div id="sidebar">
	<% @history.each do |g| %>
		<p><%= g %></p> 
		<% imgthing = evaluate_code(g) %>
		<% imgthing.each do |x|%>
			<% if x == "+"%> 
				<img src="filled.png" >
			<% else %>
				<img src="hollow.png">
			<% end %>
		<% end %>
	<% end %>
</div>
<div id="main">
	<h1>codebreaker</h1>

	<p>enter a 4 digit number</p>

	<form method="POST" action="/">
		<input type="number" name="guess" min="1000" max="9999" size="4">
	</form>
	
	<% if @history != [] %>
	<div id="response">
			<p> <%= @history[-1] %> </p>
			<% compresponse = evaluate_code(@history[-1])%>
			<% compresponse.each do |x| %>
				<% if x == "+"%> 
					<img src="filled.png" >
				<% else %>
					<img src="hollow.png">
				<% end %>
			<% end %>
	</div>
	<div id="helpbox">
		<%= erb :help, :layout => false %>
	</div>
	<% else %>
		<p style="font-size: 20px; margin-top: 10px;">(only digits 1-6)</p>
	<% end %>

</div>
<div id="spacerright">
	<a href="/newgame">Start Over?</a>
</div>
