<div id="win">
	<img src="filled.png">
	<img src="filled.png">
	<img src="filled.png">
	<img src="filled.png">
</div>
<h1>HELL YEAH YOU WON</h1>
<h2>the code was: 
	<% @secret_code.each do |x| %>
		<%= x %>
	<% end %>
</h2>
<h2> </h2>
<a href="/newgame"><h1>PLAY AGAIN?</h1></a>