@font-face {
    font-family: simplifica;
    src: url(simplifica.ttf);
}

h1 {
	font-size: 68px;
}

p {	
	font-size: 32px;
}

body {
    background: linear-gradient(#631796, #111) fixed; 
    text-align: center;
    font-family: simplifica;
    color: #ccc;
}