@font-face {
    font-family: simplifica;
    src: url(simplifica.ttf);
}

h1 {
	font-size: 68px;
}

p {	
	font-size: 32px;
}

body {
    background: linear-gradient(#631796, #111) fixed; 
    text-align: center;
    font-family: simplifica;
    color: #ccc;
}

#response img {
	height:	32px;
}

#response {
	margin-top: 10px;
}

.help {
	font-size: 24px;
	height: 14px;
}

#helpbox {
	margin-top: 60px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
    text-align: center;
    font-size: 18px;
}